html,body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,td,img,div{ margin:0; padding:0; border:0; }
body{ background:#F0F0F0; color:#333; font-size:14px; font-family:"SimSun","宋体","Arial Narrow";}

ul,ol{ list-style-type:none;}
select,input,img,select{ vertical-align:middle;}

li{cursor: pointer}
a{ text-decoration:none;}
a:link{ color:#009; }
a:visited{ color:#800080; }
a:hover,a:active,a:focus{ color:#c00; text-decoration:underline;}
.tips{line-height: 34px; font-size: 13px;}
.tips span{color: red;}

.my-navbar {
	background-color:#191818;
	border-color:#080808;
}

.main_container {
	margin-top: 80px;
}

.my-panel{
    background-color:#fff;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    /*border: 1px solid #ddd;*/
}

.index-left-info .index-left-img{
    width: 100%;
    height: 150px;
}

.index-left-info .index-left-logo-box{
    width: 100%;
    height: 100px;
    text-align: center;
    /*position: relative;*/
    /*top: -50px;*/
    margin-top: -50px;
}

.index-left-info .index-left-logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid #fff;
}

.index-left-info .person_info {
	margin: 10px 0px;
}


.index-left-info .index-left-tab{
}
.index-left-tab td{
    padding: 5px;
    font-size: 16px;
    color: #101010;
}
.index-left-info .index-left-tab .left{
    border-right: 1px #E6ECF0 solid;
    padding-right: 10px;
}
.index-left-info .index-left-tab .right{
    padding-left: 10px;
}