{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}文章详情{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">

            <!-- 文章区 -->
            <div class="article-box">
                <div class="article-header-box">
                    <h1 class="article-header-title" style="padding-bottom: 20px">
                        {{ articles.title }}
                    </h1>
                    <div class="article-header-info" style="padding-bottom: 20px">
                        <span>{{ articles.user }}</span>

                        <span style="margin-left: 15px">阅读数：999</span>

                        <span style="position: absolute; right: 23px">文章创建于: {{ articles.create_time }}</span>
                    </div>
                </div>
                <article class="article-body-box">
                    <div class="col-12 article-body" style="padding-bottom: 20px">
                        {{ articles.content|safe }}
                    </div>
                </article>
                <div class="article-footer-box">
                    <span>文章创建于: {{ articles.create_time }}</span>
                </div>
            </div>

            <!-- 评论区 -->
            <div class="comment-box" style="padding: 16px 24px 8px; margin-bottom: 50px">

                <!-- 评论编辑区 -->
                <div class="comment-edit-box" style="margin-bottom: 15px; border-bottom: 1px solid #e0e0e0;">
                    <div style="display: flex; flex-direction: row;">
                        <div style=" margin-right: 10px;">
                            <a href="javascript:void(0);" target="_blank" rel="noopener">
                                <img style="margin: 8px 0px; width: 25px; height: 25px; border-radius: 50%; border: 1px solid #e0e0e0;"
                                     src="/static/blog/img/anonymous-user.png">
                            </a>
                        </div>
                        <div style="width: 100%;">
                            <textarea id="comment_content"
                                      style="height: 80px; font-size: 14px; line-height: 22px;display: block; width: 100%; border: 1px solid #c1c1c1; border-radius: 4px; box-sizing: border-box; resize: none;"
                                      placeholder="想对作者说点什么"></textarea>
                            <div id="comment_submit"
                                 style="display: flex; justify-content: space-between; width: 100%; height: 50px; margin-bottom: 8px">
                                <div></div>
                                <div style="display: flex; justify-content: flex-end; width: 220px; height: 34px; margin: 10px 0px 10px 15px">
                                    <div style="margin: 8px 15px 0px 0px;">
                                        <span>还能输入<em>996</em>个字符</span>
                                    </div>
                                    <button id="btn_comment_submit" class="btn btn-danger">发表评论</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 评论列表区 -->
                <div class="comment-list-box" style="width: 100%; height: 500px;">

                    {% for comment in comments%}
                        <div style="display:flex; flex-direction:row; width: 100%; height: auto; padding: 8px 0px;">
                            <div style="width: 30px; height: auto; margin-right: 8px;">
                                <img style="margin: 3px 0px; width: 30px; height: 30px; border: 1px solid #e0e0e0;"
                                     src="/static/blog/img/anonymous-user.png">
                            </div>
                            <div style="width: 100%; height: auto; margin-right: 8px; display:flex; flex-direction:column;">
                                <div style="width: 100%; padding-bottom: 8px;">
                                    <a target="_blank" href="">{{ comment.user_id }}</a>
                                    : {{ comment.content }}
                                </div>
                                <div style="width: 100%; height: 22px; padding-bottom: 8px; display:flex; justify-content: space-between;">
                                    <div>{{ comment.created }}</div>
                                    <div>
                                        <ul>
                                            <li style="float: left; padding: 0px 10px;"><a>回复</a></li>
                                            <li style="float: left; padding: 0px 10px;"><a>赞</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="display:none; width: 100%; height: 50px; padding-bottom: 8px;"></div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let data = {is_logined: "{{ request.session.user_id }}"}
</script>

{% endblock %}

{% block custom_js %}
     <script src="{% static 'js/detail.js' %}"></script>
{% endblock %}