<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>frontend</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<h1>Hello</h1>


<script src="https://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<script>

    $(document).ready(function () {

        function test(str) {

            var tmp1 = str.match("/\d\w+\d/g");
            console.log(str.match("/\d\w+\d/g"));
        }


        function rot13(str) { // LBH QVQ VG!
            // 请把你的代码写在这里

            var tmp1 = str.replace(/[a-zA-Z]/g, function ($0) {

                var tmp2 = $0.charCodeAt() + 13;

                var tmp3 = tmp2 > 90 ? tmp2 - 26 : tmp2;

                return String.fromCharCode(tmp3);
            });

            return tmp1;
        }

        var tmp = rot13("SERR PBQR PNZC");

        console.log(tmp);
    })

</script>

</body>
</html>

