html,body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,td,img,div{ margin:0; padding:0; border:0; }
body{ background:#F0F0F0; color:#333; font-size:14px; font-family:'Microsoft YaHei', 'SF Pro Display', Roboto,Noto,Arial, 'PingFang SC',sans-serif;}

.article-box {
    position: relative;

    background: #fff;

    padding: 0 24px 16px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}

.article-header-box {

    padding-top: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.article-header-title {
    font-size: 24px;
    word-wrap: break-word;

    font-weight:bold;
}

.article-header-info {

    color: #858585;
}

.article-body-box {
    padding-top: 20px;
}

.article-body-box p {
    font-size: 16px;
    color: #4d4d4d;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 16px;
    overflow-x: auto;
}

.article-footer-box span {

    position: absolute;
    bottom: 0;
    right: 0;
    color: #ccc;

    margin: 0px 20px 10px 0px;
}

.comment-box {
    margin-top: 2px;
    background: #fff;
}

.comment-edit-box {

}

.user-img {

    margin-right: 8px;
}

.user-img img{

    margin-top: 8px;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
}

.comment_contentzz {
    display: block;
    width: 100%;

    padding: 7px 8px;
    background: #fff;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    resize: none;
    height: 38px;
    font-size: 14px;
    line-height: 22px;

    box-sizing: border-box;

    transition: height .3s ease-in-out;
}
